/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Cinza claro */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #343a40; /* Cinza escuro */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107; /* Amarelo */
}

.section {
    padding: 50px 0;
}

.section-inicio {
    background-color: #f8f9fa; /* Cinza claro */
}

.section-cardapio {
    background-color: #e9ecef; /* Cinza claro */
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comida {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.comida img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.comida h3 {
    margin-top: 10px;
}

.comida p {
    color: #6c757d; /* Cinza escuro */
}

.comida:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #343a40; /* Cinza escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}