@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Righteous&display=swap');
body {
    font-family: "Righteous";
    margin: 0;
    padding: 0;
    background-color: #45cc57;
}

header {
    background-color: #19962a;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
    color: rgb(255, 255, 255);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    color: white;
}

section p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #36a13b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


    hr{
 
    height:3px;
    background-color: rgb(255, 255, 255);

}