/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Cinza claro */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #343a40; /* Cinza escuro */
    color: white;
    padding: 20px 0;
}

header h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.section {
    padding: 50px 0;
}

.section-inicio {
    background-color: #f8f9fa; /* Cinza claro */
}

.section-cardapio {
    background-color: #e9ecef; /* Cinza claro */
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comida {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.comida img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #343a40; /* Cinza escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}